{% extends "base.html" %}

{% block title %}Events of {{ selected_project.title }}{% endblock %}


{% block h1 %}
  <h1>Events of {{ selected_project.title }}</h1>
{% endblock %}


{% block content %}
  <table class="table">
  <thead>
    <tr>
      <th scope="col" nowrap="nowrap">Date & Time</th>
      <th scope="col">Num</th>
      <th scope="col" width="100%">Exception</th>
    </tr>
  </thead>
  <tbody>
    {% for item in events %}
      <tr>
        <th scope="row" nowrap="nowrap">{{ item.timestamp|date:"d b h:i:s" }}</th>
        <td>{{ item.group_count }}</td>
        <td>{{ item.level }} <a href="{% url 'event' project_id=selected_project.pk event_id=item.event_id %}">{{ item.message }}</a></td>
      </tr>
    {% endfor %}
  </tbody>
  </table>
{% endblock %}

{% block additional_tab %}
  <h4>Projects:</h4>
  <ul>
    {% for item in projects_menu %}
      <li>
        {% if item.hit %}
          <span class="text-muted">{{ item.title }}</span>
        {% else %}
          <a href="{{ item.url }}">{{ item.title }}</a>
        {% endif %}
      </li>
    {% endfor %}
  </ul>
{% endblock %}