{% extends "base.html" %}

{% block title %}Show exception of {{ group.long_id }}{% endblock %}


{% block h1 %}
  <h1>Show exception sample (1 of {{ group.times_seen }} seen)</h1>
{% endblock %}


{% block content %}
  <p class="lead"><span class="mr-2 badge badge-{{ event.level_label }}">{{ event.level_title }}</span> {{ event.message }}</p>

  <div class="card mb-3">
    <div class="card-body">
      <ul class="list-unstyled">
        <li><b>Last seen</b>: {{ group.last_seen|date:"d E Y, H:i:s" }}</li>
        <li>First seen: {{ group.first_seen|date:"d E Y, H:i:s" }}</li>
        <li>Times seen: {{ group.times_seen }}</li>
        <li><small>Group ID: {{ group.long_id }}</small></li>
        <li><small>Event ID: {{ event.event_id }}</small></li>
      </ul>
    </div>
  </div>

  <h2>Stacktrace:</h2>
  {% for value in data.exception.values %}
    {% for frame in value.stacktrace.frames %}
        {% for title, values in frame.items %}
            {% if title == "pre_context" %}
              <h4>Context</h4>
            {% endif %}
            {% if title == "pre_context" or title == "post_context" %}
              {% for line in values %}<code style="background-color: #dddddd">{{ line }}</code><br />{% endfor %}
            {% elif title == "context_line" %}
              <pre><code class="bg-dark text-light">{{ values }}</code></pre>
            {% else %}
              <h4>{{ title }}</h4>
              <div class="mb-2"><code>{{ values }}</code></div>
            {% endif %}
        {% endfor %}
    {% endfor %}
  {% endfor %}
{% endblock %}

{% block additional_tab %}
  {% include "include/projects_menu.html" %}
{% endblock %}